<div><table>
    <tr>
    <td>user:</td><td>kjhughes</td>	
</tr>
<tr>
    <td>created:</td><td>April 7, 2009</td>
</tr>
<tr>
    <td>karma:</td><td>12184</td>
</tr>
<tr>
    <td>about:</td><td>Kenneth J Hughes<br>
        Engineer and Founder, Entelechy Corporation<br>
        
        http://www.entel.com<br>
        
        kjh AT website domain<br>
        
        https://stackoverflow.com/users/290085/kjhughes<br>
        
        [ my public key: https://keybase.io/kjhughes; my proof: https://keybase.io/kjhughes/sigs/8jRlrbjgTQY2zzaLs7qigv5AYGsFdj35yZq7HVHO_2o ]</td>
</tr>
<tr>
    <td></td><td><a href="">submissions</a><br>
        <a href="">comments</a><br>
        <a href="">favorites</a><br></td>
</tr>
</table>
</div>
