body{
    font-family:Verdana, Geneva,sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
